.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 50%;
  left: 50%;
  width: 100vh;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  background-color: rgb(149, 210, 246);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.form_ {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.closeBtn {
  width: 15%;
  align-self: center;
  background-color: rgb(43, 226, 220);
  color: black;
  border: 1px solid rgb(0, 255, 89);
  border-radius: 10px;
}
.closeBtn:hover {
  background-color: antiquewhite;
  border-color: rgb(9, 164, 199);
}
.submit_video {
  width: 20%;
  align-self: center;
  background-color: rgb(149, 246, 14);
  color: black;
  border: 1px solid rgb(0, 255, 89);
  border-radius: 10px;
}
.submit_video:hover {
  background-color: rgb(130, 21, 213);
  color: white;
  border-color: rgb(9, 164, 199);
}
.label {
  position: relative;
  left: 40%;
  color: rgb(0, 182, 106);
}
.label_ {
  position: relative;
  left: 35%;
  color: rgb(0, 182, 106);
}
.input-video {
  position: relative;
  left: 37%;
}
.input-url {
  width: 60%;
  position: relative;
  left: 23%;
}
@media screen and (max-width: 750px) {
  .popup {
    width: 90%;
  }
  .input-url {
    left: 25%;
  }
}
@media screen and (max-width: 630px) {
  .popup {
    width: 80%;
  }
  .label_ {
    left: 26%;
  }
  .label {
    left: 33%;
  }
  .input-video {
    left: 30%;
  }
}
@media screen and (max-width: 500px) {
  .popup {
    width: 80%;
  }
  .label_ {
    left: 28%;
  }
  .input-video {
    left: 30%;
  }
}
